
.navbrand {
    font-family: 'Special Elite', cursive;
    color:#039da59a;
    font-size: 30px !important;
}

.site-footer {
    font-family: 'Merriweather', serif;
    background-color:#a1a3a7;
    color:#ffc107;
}

.dbutton {
    font-family: 'Merriweather', serif;
    display: flex;
    position: absolute;
    right: 25%;
}

.abutton {
    font-family: 'Merriweather', serif;
    display: flex;
    position: absolute;
    right: 6%;
}

.image-div { 
    Display: flex;
    Height: 100vh;
    Width: 100vw; 
    Align-Items: center;
    Justify-Content: center;
}

.about-div {
    text-align: center;
}

.form {
    padding: 10%;
}