
.navbrand {
    font-family: 'Special Elite', cursive;
    color:#039da59a;
    font-size: 30px !important;
}

.site-footer {
    font-family: 'Merriweather', serif;
    background-color:#a1a3a7;
    color:#ffc107;
}

.dbutton {
    font-family: 'Merriweather', serif;
    display: flex;
    position: absolute;
    right: 200px;
}

.abutton {
    font-family: 'Merriweather', serif;
    display: flex;
    position: absolute;
    right: 25px;
}

.card {
    margin-top: 25px;
}

.about-div {
    text-align: center;
}

.formcontainer {
    position: relative;
    max-width: 600px;
    width: 75%;
    margin: 40px auto;
}

.formSubmitted {
    background-color: #ffc107;
    color: #039da59a;
    padding: 25px;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: large;
}

@media screen and (max-width: 768px) {
   .dbutton, .abutton {display: inline-block; position: relative; right: 0; margin-bottom: 10px;}
   .abutton {margin-left: 10px;}
  }